.CommitField {
    padding-top:20px;
}

/*<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ParkVehicle">ParkVehicle</a></li>
                    <li><a href="/ParkedVehicles/MainList">Main List</a></li>
                </ul>
                
            </div>
        </div>*/

.container ul {
    background-color:#f868b8;
}

.navbar-inverse .navbar-nav > li > a {

    color:black;
    font-size:1.2em;
}


